
/* CART */


@media (max-width:1175px){
    .cart{
        width: 40vw;
        
    }
}
@media (max-width:1095px){
    .cart{
        width: 42vw;
        
    }
}

@media (max-width:865px){
    .cart{
        width: 48vw;
        
    }
}

@media (max-width:790px){
    .cart{
        width: 100%;
        position: fixed;
        height: 100%;
    }

    .cart-close-mobile{
        display: block !important;
    }
}


@media (max-width:830px){
    .item-window-area{
        grid-template-columns: 1fr;
        grid-template-rows: minmax(200px,auto) 3fr;
        border-radius: 0px;
        width: 100%;
        height: 100%;

    }

    .item-window-area .img{
        margin-bottom: 40px;
        text-align: center;
    }

    .item-window-area .img img{
        width: 60%;
    }

}

@media (max-width:550px){
   
    .item-window-area .img img{
        width: 75%;
        height: auto;
    }
    .add-cart{
        padding:12px 20px;
        border-radius: 30px;
        font-size: 18px;
    }

    .window-front h1{
        font-size: 60px;
    }

}
@media (max-width:400px){
    .item-window-add-cancel{
        justify-content: center;
        flex-direction: column;
    }
    .cancel-window-area{
        margin-left: 0px;
        margin-top: 30px;
    }
}



@media (max-width:410px){

    .cards{
        padding-top: 0px;
    }
    .card-section,.card-item{
        width: 100% !important;
       
    }
    .card-section img ,.card-item img{
        width: 100%;
    }

}



