
/* CART */


@media (max-width:1175px){
    .cart{
        width: 40vw;
        
    }
}
@media (max-width:1095px){
    .cart{
        width: 42vw;
        
    }
}

@media (max-width:865px){
    .cart{
        width: 48vw;
        
    }
}

@media (max-width:780px){
    .cart{
        width: 100%;
        position: fixed;
        height: 100%;
    }

    .cart-close-mobile{
        display: block !important;
    }
}


@media (max-width:830px){
    .item-window-area{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 2fr;
        border-radius: 0px;
        width: 100%;
        height: 100%;
    }

    .item-window-area .img{
        margin-bottom: 40px;
    }
}

